{% extends "account/base.html" %}
{% load static %}
{% get_static_prefix as static_prefix %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block bootstrap %}<link rel="stylesheet" href="{{ static_prefix }}css/bootstrap.min.css">{% endblock %}


{% block content %}
<div style="padding-left: 1%">
    <div class="allauth-heading">Password Reset</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% else %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error.as_text }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <br>
        <input id="id_email" type="email" name="email" placeholder="Email Address" required>
        <br>
        {% if form.email.errors %}
            <br><div class="alert-danger alert" style="width: 35%" role="alert">{{ form.email.errors.as_text }}</div>
        {% endif %}
        <div class="login-button-div">
             <div class="login-submit-button-div">
                   <button id="login-submit-button" style="font-size: medium" type="submit">Reset</button>
             </div>
        </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}
