{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="allauth-heading">Password Changed!</div>
    <p>{% trans 'Your password is now changed.' %}</p>
<div class="login-button-div">
             <div class="login-submit-button-div">
                   <button id="allauth-pass-change-done-submit-button" style="font-size: medium" onclick="window.location.href='{% url 'account_login' %}'">Go to Sign in</button>
             </div>
        </div>
{% endblock %}
