<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    {% block title %}
        <title>Title</title>
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uConnect</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <link rel="shortcut icon" href={% static "images/favicon.png" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "js/fullPage.js-master/src/fullpage.css" %}>
    {#    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">#}
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Ma+Shan+Zheng|Marck+Script|Noto+Sans:700|Roboto|Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a01f232c4.js" crossorigin="anonymous"></script>


</head>
<body>

        <div class="header">
                <div class="logo-div">
                    <a href="{% url 'Uconnect_app:index' %}"><img class="logo-image" alt="logo" src={% static "images/logo.svg" %}></a>
                </div>

                {#     ////////////////////////////////   NAVBAR    /////////////////////              #}

                <div class="nav-div">
                    <div class="navs services-button"><a href="#servicesPage">Services</a> <i class="fas fa-caret-down"></i>
                        <div class="services-dropdown">
                            <div class="free-div">
                                <a href="#servicesPage">Free Services</a>
                            </div>
                            <div class="line">

                            </div>
                            <div class="paid-div">
                                <a href="#servicesPage">Paid Services</a>
                            </div>
                        </div></div>
                    <div class="navs blogs-nav"><a href="#blogsPage">Blogs</a></div>
                    {% if user.is_superuser %}
                    <div class="navs about-nav"><a href="{% url 'admin:index' %}">Admin</a> </div>
                    {% else %}
                    <div class="navs about-nav"><a href="#aboutPage">About Us</a></div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="navs login-button"><a href="{% url 'Uconnect_app:logout' %}">Logout</a> </div>
                    {% else %}
                    <div class="navs login-button">Login</div>
                    <div class="navs signup-button" id="signup-page-display-button">Sign up</div>
                    {% endif %}
                </div>
        </div>



{#/////////////// BODY BLOCK ///////////////////#}

    {% block body_block %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>