<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Profile | uConnect </title>
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Ma+Shan+Zheng|Marck+Script|Noto+Sans:700|Roboto|Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a01f232c4.js" crossorigin="anonymous"></script>
    <script src="../static/js/profileApp.js" defer></script>
</head>
<body>
    <div class="profile-page-wrapper">
        <div class="profile-page-header">
            <div class="navbar-div-container">
                <div class="icon-div icon-1">
                    <i class="fas fa-home"></i>
                </div>
                <div class="icon-div icon-2">
                    <i class="fas fa-hands-helping"></i>
                </div>
                <div class="icon-div icon-3">
                    <i class="fas fa-pencil-alt"></i>
                </div>
            </div>
            <div class="logo-div">
                <img src="../static/images/favicon.png" alt="uconnect logo" class="logo-header-image">
            </div>
            <div class="search-pic-div">
                <div class="search-div">
                    <input type="text" id="search-input" placeholder="Search..">
                    <i class="fas fa-search"></i>
                </div>
                <div class="profile-pic-div">
                    <img src="../static/images/profileAvatar.svg" alt="profile avatar" class="profile-avatar-header">
                </div>
            </div>
        </div>
        <div class="content-area-container">
            <div class="profile-area-container">
                <div class="profile-picture-div">
                    <div class="profile-picture-preview-div">
                        <img src="../static/images/profileAvatar.png" alt="profile-picture" class="profile-picture">
                        <div class="profile-hover-div">
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="profile-name-div">
                    Hamza Abbas
                </div>
                <div class="profile-username-div">
                    @hamzaimranist
                </div>
                <div class="profile-adress-email-div">
                    <div class="profile-adress-div">
                        <div class="adress-icon-div">
                            <i class="fas fa-map-marker-alt"></i> From
                        </div>
                        <div class="adress-details-div">
                            Islamabad, Pakistan
                        </div>
                    </div>
                    <div class="profile-email-div">
                        <div class="profile-email-inner-div">
                            <div class="email-icon-div">
                                <i class="fas fa-envelope"></i> Email
                            </div>
                            <div class="email-details-div">
                                imranist@teamalif.com
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-social-links-div">

                </div>
                <div class="profile-description-div">

                </div>
                <div class="profile-education-div">

                </div>
                <div class="profile-skills-div">

                </div>
            </div>
            <div class="tabs-area-container">

            </div>
        </div>
    </div>
</body>
</html>