<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Profile | uConnect </title>
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Ma+Shan+Zheng|Marck+Script|Noto+Sans:700|Roboto|Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a01f232c4.js" crossorigin="anonymous"></script>
    <script src="../static/js/profileApp.js" defer></script>
</head>
<body>
    <div class="wrapper">
        
    </div>
</body>
</html>