<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Signup | uConnect </title>
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/signupStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Ma+Shan+Zheng|Marck+Script|Noto+Sans:700|Roboto|Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a01f232c4.js" crossorigin="anonymous"></script>
    <script src="../static/js/signupFormApp.js" defer></script>
</head>
<body>
    <div class="signup-form-container">
        <div class="signup-form-header-div">
             <!--      LOGO DIV      -->
             <div class="logo-div">
                <a href="#"><img src="../static/images/logo.svg" alt="logo" class="logo-image"></a>
            </div>
             <!--      HAMBURGER MENU STARTS HERE     -->
             <div class="hamburger-menu">
                <div class="hamburger">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
            </div>
        </div>
        <div class="hamburger-nav-links">
                    <div class="cross-button-menu">
                            <div class="cross-line-1"></div>
                            <div class="cross-line-2"></div>
                            <div class="cross-line-3"></div>
                    </div>
                    <li>
                        <img src="../static/images/logo.svg" alt="" class="hamburger-logo-img">
                    </li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Sign up</a></li>
        </div>
        <div class="back-page">

        </div>
        <div class="signup-heading-div">
            SIGNUP
        </div>
        <div class="signup-fb-google-container">
            <div class="signup-fb-container">
                <div class="fb-icon-div">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="fb-text-div">
                    Signup with facebook
                </div>
            </div>
            <div class="signup-google-container">
                <div class="google-icon-div">
                    <i class="fab fa-google-plus-g"></i>
                </div>
                <div class="google-text-div">
                    Signup with google
                </div>
            </div>
        </div>
        <div class="signup-inputs-container">
            <div class="username-container">
                <div class="signup-username-error">
                    <label for="signup-username-input"></label>
                </div>
                <div class="signup-username-input-div">
                    <input type="text" id="signup-username-input" placeholder="username">
                </div>
            </div>
            <div class="email-container">
                <div class="signup-email-error">
                    <label for="signup-email-input"></label>
                </div>
                <div class="signup-email-input-div">
                    <input type="text" id="signup-email-input" placeholder="email">
                </div>
            </div>
            <div class="password-container">
                <div class="signup-password-error">
                    <label for="signup-password-input"></label>
                </div>
                <div class="signup-password-input-div">
                    <input type="password" id="signup-password-input" placeholder="password">
                    <span toggle="#signup-password-input" class="fa fa-fw fa-eye field-icon-1 toggle-password-1"></span>
                </div>
            </div>
            <div class="confirm-password-container">
                <div class="signup-confirm-password-error">
                    <label for="signup-confirm-password-input"></label>
                </div>
                <div class="signup-confirm-password-input-div">
                    <input type="password" id="signup-confirm-password-input" placeholder="confirm password">
                    <span toggle="#signup-confirm-password-input" class="fa fa-fw fa-eye field-icon-2 toggle-password-2"></span>
                </div>
            </div>
        </div>
        <div class="signup-buttons-container">
            <div class="signup-buttons-div">
                <div class="signup-already-container">
                    Already have an account?
                </div>
                <div class="signup-submit-container">
                    <button type="submit" id="signup-submit-button" name="submit" value="signup">Signup</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>